* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --line--border--fill: #3498db;
  --line--border--empty: #e0e0e0;
}

html {
  font-family: 'Shabnam', sans-serif;
}

body {
  background-color: #f6f7fb;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
}

.container {
  text-align: center;
}

.progress-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  max-width: 100%;
  width: 350px;
  margin-bottom: 30px;
}

.progress-container::before {
  content: '';
  height: 4px;
  position: absolute;
  background-color: var(--line--border--empty);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 100%;
  z-index: -1;
}

.progress {
  height: 4px;
  position: absolute;
  background-color: var(--line--border--fill);
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

.circle {
  background: #fff;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  color: #999;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid var(--line--border--empty);
  transition: 0.4s ease;
}

.circle.active {
  border-color: var(--line--border--fill);
}

.btn {
  margin: 10px;
  padding: 8px 30px;
  border: 0;
  border-radius: 6px;
  background-color: var(--line--border--fill);
  color: #fff;
  font-size: 14px;
  cursor: pointer;
}

.btn:active{
    transform: scale(0.98);
}

.btn:focus {
    outline: 0;
}

.btn:disabled {
    background-color: var(--line--border--empty);
    cursor: not-allowed;
}
